# Python virtual environments
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Local datasets
data/

# Environment variables
.env

# VS Code local settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db
